<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="author">

    <title>Your fist Vue.js+Bootstrap app</title>

    <link rel="stylesheet" href="index.css">
</head>
<body>
<div id="app" class="container">
    <h2>Your fist Vue.js+Bootstrap app</h2>
    <input class="form-control mt-4" placeholder="Enter your name ..." type="text" id="username" v-model="username"/>
    <p class="my-style mt-2" v-html="'Hello, ' + username + '!'" v-if="username.length"></p>
</div>
<script src="index.js"></script>
</body>